@using CvProject.ENTITY.Dtos.UserDtos
@model GetUserDto

<div class="primary-info col-auto">
    <h1 class="name mt-0 mb-1 text-white text-uppercase text-uppercase">@Model.UserName @Model.UserSurname</h1>
    <div class="title mb-3">@Model.UserCity, @Model.UserCountry</div>
    <ul class="list-unstyled">
        <li class="mb-2"><a class="text-link" href="#"><i class="fa fa-envelope fa-fw me-2" data-fa-transform="grow-3"></i>@Model.UserMail</a></li>
        <li><a class="text-link" href="#"><i class="fa fa-mobile fa-fw me-2" data-fa-transform="grow-6"></i>@Model.UserPhoneNumber</a></li>
    </ul>

</div>