@using CvProject.ENTITY.Dtos.UserCertificateDtos
@model List<GetUserCertificateDto>
@{
    ViewData["Title"] = "AdminCertificate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="section gray-bg" id="resume">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title ml-3">
                    <br />
                    <h2>Certificate</h2>
                </div>
            </div>
        </div>
        <div class="col-lg-12 m-15px-tb">
            <div class="resume-box">
                <ul style="list-style-type:none;">
                    @foreach (var item in Model)
                    {
                        <li>

                            <hr>
                            <div class="icon">
                                <i class="fa fa-certificate"></i>
                            </div>
                            <span class="time">@item.CertificateDate.Year</span>
                            <br>
                            <span class="time">@item.CertificateCity, @item.CertificateCountry</span>
                            <h5>@item.CertificateName</h5>
                            <p>@item.CertificateProvider</p>
                        </li>
                        <a href="/Admin/DeleteCertificate/@item.Id/" class="btn btn-danger">
                            <i class="fa fa-trash"></i>
                        </a>
                        <a href="/Admin/UpdateCertificate/@item.Id/" class="btn btn-secondary">
                            <i class="fa fa-edit"></i>
                        </a>
                    }
                </ul>
                <br />

                <a href="/Admin/AddCertificate" class="btn btn-primary">Add Certificate</a>
                <br />
                <br />

            </div>



        </div>

    </div>
</section>