@using CvProject.ENTITY.Dtos.AdminAccountDtos
@model GetAdminAccountDto

@{
    ViewData["Title"] = "AdminAccount";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="card-body">

    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">

                    <h3>@Model.UserName</h3>

                </div>
                <div class="form-group">
                    <label for="inputUsername">Your Description</label>

                    <textarea rows="5" class="form-control" name="UserDescription">@Model.UserDescription</textarea>

                </div>
            </div>
            <div class="col-md-4">
                <div class="text-center">

                    @if (Model.UserImage != null)
                    {
                        <img src="~/UserImageFiles/@Model.UserImage" class="rounded-circle img-responsive mt-2" width="128" height="128">
                    }
                    <div class="mt-2">
                        <input type="file" name="UserImage" class="form-control" />
                    </div>

                    <small>For best results, use an image at png, jpg format.</small>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputFirstName">First name</label>
                <input type="text" class="form-control" id="inputFirstName" value="@Model.UserFirstName" name="UserFirstName">
            </div>
            <div class="form-group col-md-6">
                <label for="inputLastName">Last name</label>
                <input type="text" class="form-control" id="inputLastName" value="@Model.UserSurname" name="UserSurname">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" id="inputEmail4" value="@Model.UserMail" name="UserMail">
        </div>
        <div class="form-group">
            <label for="inputAddress2">Phone Number</label>
            <input type="text" class="form-control" id="inputAddress2" value="@Model.UserPhoneNumber" name="UserPhoneNumber">
        </div>
        <div class="form-group">
            <label for="inputAddress">Country</label>
            <input type="text" class="form-control" id="inputAddress" value="@Model.UserCountry" name="UserCountry">
        </div>
        <div class="form-group">
            <label for="inputAddress2">City</label>
            <input type="text" class="form-control" id="inputAddress2" value="@Model.UserCity" name="UserCity">
        </div>
        <button type="submit" class="btn btn-primary">Save changes</button>
    </form>


</div>
