@using CvProject.ENTITY.Dtos.UserEducationDtos
@model List<GetUserEducationDto>
@{
    ViewData["Title"] = "AdminEducation";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="section gray-bg" id="resume">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title ml-3">
                    <br />
                    <h2>Education</h2>
                </div>
            </div>
        </div>
        <div class="col-lg-12 m-15px-tb">
            <div class="resume-box">
                <ul>
                    @foreach (var item in Model)
                    {
                        <li>

                            <hr>
                            <div class="icon">
                                <i class="fa fa-graduation-cap"></i>
                            </div>
                            <span class="time">@item.EducationStartDate.Year - @item.EducationEndDate.Year</span>
                            <br>
                            <span class="time">@item.EducationCity, @item.EducationCountry</span>
                            <h5>@item.EducationName</h5>
                            <p>@item.EducationBranch</p>
                        </li>
                        <a href="/Admin/DeleteEducation/@item.Id/" class="btn btn-danger">
                            <i class="fa fa-trash"></i>
                        </a>
                        <a href="/Admin/UpdateEducation/@item.Id/" class="btn btn-secondary">
                            <i class="fa fa-edit"></i>
                        </a>
                    }
                </ul>
                <br />

                <a href="/Admin/AddEducation" class="btn btn-primary">Add Education</a>
                <br />
                <br />

            </div>



        </div>

    </div>
</section>